*{
  margin : 0;
  padding: 0;
}

body{
  background-color: whitesmoke;
}

.app-container {
  max-width: 320px;
  margin: 0 auto;
}

nav{
  background-color: white;
  height: 50px;
  display:flex;
  flex-direction: row;
  align-items: center;
}

nav h3{
  padding: 0 90px 0 10px;
}

nav > a {
  text-decoration: none;
  padding: 10px;
}

form{
  background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  height: 70vh;
}

form input{
  margin-top: 60px;
  margin-left: 30px;
  padding : 10px;
  border-style:none;
  border-radius:10px;
}

a{
  text-decoration: none;
}

button{
  background-color: #004000;
  padding:10px;
  border-style:none ;
  color:blanchedalmond;
  border-radius: 15px;
}

.single-movie{
  padding-bottom: 20px;
  background-color: white;
}

img{
  width: 100%;
}

.single-movie-btn{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.single-movie-btn a{
  background-color: #004000;
  color:blanchedalmond;
  padding: 10px;
  border-style: none;
  border-radius: 15px;
}

.movie-watchlist{
  padding-bottom: 20px;
}

.empty-msg{
  padding-top: 30px;
}